h1{border: dashed 4px ;color: #000; border-radius: 15px 15px 30px 20px; padding: 60px 60px 30px 10px;margin: 10px; box-shadow: 60px color: red;}
h2{margin-left: auto;margin-right: auto;width: 90%;}
h2{background-color: red;}
